@import "header"
@import "index"
@import "single"
@import "list"

*
  font-family: 'DotGothic16', sans-serif
  box-sizing: border-box
  color: #707070

body:not(#is-404)
  margin: 0
  background: url("/images/bg.png")

.main__wrapper
  margin: auto
  max-width: 768px
