{{ define "main" }}
<div class="index__container">
    <div class="index__container--item div1">
        <h2>memolog</h2>
        {{ range (.Site.GetPage "memo").Pages }}
        <ul>
            <li><a href='{{ .Permalink }}'>{{ .Title }}</a></li>
        </ul>
        {{ end }}
    </div>
    <div class="index__container--item div2">
        <h2>banner</h2>
        <a href='/'><img src='/images/nullcat-header.png'></a>
        <a href='https://yude.jp/'><img src="https://yude.jp/images/banner_new.png" alt="https://yude.jp/images/banner_new.png"></a>
    </div>
    <div class="index__container--item div3">
        <h2>twitterlog</h2>
        <a class="twitter-timeline" data-height="768" data-theme="light" href="https://twitter.com/nullnyat?ref_src=twsrc%5Etfw">Tweets by nullnyat</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
{{ end }}