<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ (resources.Get "sass/main.sass" | toCSS | minify).RelPermalink }}">
<title>{{ if not .IsHome }}{{ .Title }} / {{ end }}{{ .Site.Title }}</title>

<!-- Open Graph Protocol -->
<meta property="og:title" content="nullc.at" />
<meta property="og:description" content="{{ if not .IsHome }}{{ .Title }}{{ end }}{{ else }}{{ .Site.Title }}{{ end }}" />
<meta property="og:url" content="https://nullc.at" />
<meta property="og:image" content="https://s3.nca10.net/misskey/6facd34d-1ec0-41ac-b36d-16291b279c7a.png" />
<meta property="og:type" content="website" />
<meta name="twitter:site" content="@nullnyat" />
<meta name="twitter:creator" content="@nullnyat" />
<meta name="twitter:card" content="summary" />
