{{ define "main" }}
<div class='index__container'>

    <div class='index__item div1'>
        <h2>memolog</h2>
        {{ range (.Site.GetPage "memo").Pages }}
        <ul>
            <li><a href='{{ .Permalink }}'>{{ .Title }}</a></li>
        </ul>
        {{ end }}
    </div>

    <div class='index__item div2'>
        <h2>banner</h2>
        <div class='index__banner'>
            <a href='https://nullc.at'><img src='/images/nullcat-header.png' alt='nullc.at-banner'></a>
            <a href='https://yude.jp'><img src="https://yude.jp/images/banner_new.png" alt="yude-banner"></a>
            <a href='http://mwxdxx.ml/'><img src='/images/mwxdxx.png' alt='mwxdxx-banner'></a>
            <a href='https://home.ilnk.info/'><img src='https://shiotan.ilnk.info/imgfile/homeilnkinfo-banner.gif' alt='morotesovtannu-banner'></a>
        </div>
    </div>

    <div class='index__item div3'>
        <h2>My Repositories</h2>
        <a href='https://github.com/nullnyat/nullc.at'><img width='350' src='https://gh-card.dev/repos/nullnyat/nullc.at.svg'></a>
        <a href='https://github.com/nullnyat/nca10.net'><img width='350' src='https://gh-card.dev/repos/nullnyat/nca10.net.svg'></a>
        <a href='https://github.com/nullnyat/NullcatChan'><img width='350' src='https://gh-card.dev/repos/nullnyat/NullcatChan.svg'></a>
        <a href='https://github.com/nullnyat/nullnyat'><img width='350' src='https://gh-card.dev/repos/nullnyat/nullnyat.svg'></a>
    </div>

</div>
{{ end }}
